
{% extends 'index.html' %}
{% block body %}

            
    <div class="boxed-layout container">
        <div class="wrapper">
            <div class="breadcrumbs">
                <div class="container heading heading-v1">
                    <h3 style="text-transform: uppercase">About Online Auction</h3>
                </div>
            </div>
            <div class="container content">

                <p><strong>About Online Auction</strong></p>

<p>Welcome to Online Auction, one of the best Indian online auction shopping venues on the Net! This web site is owned and operated by Online Auction Corporation, an Indian enterprise founded by a group of seasoned investors; successful business persons from west region of India. We are specializing in import-export of bulk electronics products, e-commerce, entertainment shopping and premium brands distribution. We are operating from Surat (India) and London (United Kingdom)</p>

<p>Online Auction.com conducted it's 1st online auction on 1st December 2011. Since then we are proudly India's No-1 Online Auctioneer with 20k+ Registered Members</p>

<p>We are also operating india's first online TV Shop <a href="http://www.tvdeal.in/" target="_blank">TVDEAL.IN</a> You can buy branded LED , 3D TV, Smart TV at ever lowest prices in india.</p>

<p>Online Auction has introduced a completely new and funny way of online shopping. Why spending a fortune for a brand new product if you can get it with a huge discount? We give you the chance to get the products you dream about at amazing prices!</p>

<p>Online Auction.com is a new exciting auction website where you can win branded factory sealed new products at huge discounts up to 89% off. Look at our homepage to see what products are up for auction right now, and if something seems interesting, why not bid for it!</p>

<p>Online Auction gives an opportunity to those people who can't afford to purchase costly branded products, they can try our risk free auctions to win their desired products like Cars, Bikes, Smartphones, Laptop, Tablets & branded watches.</p>

<p>If you don’t win an auction, you will never have to walk away empty handed from Online Auction because you can buy the product for a discount price using the Buy Now option. You'll never have to pay more than the Value Price (MRP) for any products on Online Auction</p>

<p>We will do our very best to provide you with great merchandise at the best possible price. We think you will find that mixing online auction competition into the "joy of shopping" makes it all even more fun at Online Auction.</p>

<p><strong>Our Values</strong></p>

<p>Our main goal is giving fun to online shopping. We aim to achieve this objective through..</p>

<ul>
	<li>
	<p>An ethical bidding environment for our customers</p>
	</li>
	<li>
	<p>Accurate product and pricing information</p>
	</li>
	<li>
	<p>Quick responses to customer inquiries and problems</p>
	</li>
	<li>
	<p>Highest standards for our customer’s privacy</p>
	</li>
	<li>
	<p>Constant innovation and development of new features</p>
	</li>
	<li>
	<p>Long-term relationship with our suppliers and partners</p>
	</li>
	<li>
	<p>Dignity and respect among all the members of our team</p>
	</li>
</ul>

                
            </div>
        </div>
    </div>

    {% endblock %}
