{% extends 'index.html' %}
{% load static %}
{% block body %}
<div id="inner_banner" class="inner_banner_section" style="margin-top:5%">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="full">
          <div class="title-holder">
            <div class="title-holder-cell text-left">
              <h1 class="page-title">{% if request.user.id == pro.user.id %}User Profile{% else %}Seller Profile{% endif %}</h1>
              <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">{% if request.user.id == pro.user.id %}user-profile{% else %}seller-profile{% endif %}</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <hr><div class="row">
        <div class="col-md-6">
            <strong>Full Name:</strong>
        </div>
        <div class="col-md-6">
            {{pro.user.first_name}} {{pro.user.last_name}}
        </div>
    </div><hr>
     <div class="row">
        <div class="col-md-6">
            <strong>Customer Pic:</strong>
        </div>
        <div class="col-md-6">
           <img src="{{pro.image.url}}" style="width:150px;height:150px">
        </div>

    </div><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Email Id :</strong>
        </div>
        <div class="col-md-6">
            {{pro.user.email}}
        </div>
    </div><hr>
     <div class="row">
        <div class="col-md-6">
            <strong>Contact :</strong>
        </div>
        <div class="col-md-6">
            {{pro.contact}}
        </div>
     </div><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Date of Birth :</strong>
        </div>
        <div class="col-md-6">
            {{pro.dob}}
        </div>
    </div><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Address :</strong>
        </div>
        <div class="col-md-6">
            {{pro.address}}
        </div>
    </div><hr>


    <h5>Additional Detail</h5><hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Aadhar Card :</strong>
        </div>
        <div class="col-md-6">
            {% if pro.adhar_card %}
                Uploaded
            {% else %}
            Not Uploaded
            {% endif %}
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Pan Card :</strong>
        </div>
        <div class="col-md-6">
            {% if pro.pan_card %}
                Uploaded
            {% else %}
            Not Uploaded
            {% endif %}
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Bank statement :</strong>
        </div>
        <div class="col-md-6">
            {% if pro.bank_statement %}
                Uploaded
            {% else %}
            Not Uploaded
            {% endif %}
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Aadhar number :</strong>
        </div>
        <div class="col-md-6">
            {{pro.adhar_number}}
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>PAN number :</strong>
        </div>
        <div class="col-md-6">
            {{pro.pan_number}}
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Account number :</strong>
        </div>
        <div class="col-md-6">
            {{pro.account_number}}
        </div>
    </div><hr>

    <div class="row">
        <div class="col-md-6">
            <strong>Email Verification :</strong>
        </div>
        <div class="col-md-6">
            {% if pro.email_verification %}
                Verified
            {% else %}
                Pending
                
                    <button class="btn btn-success" style="margin-left:120px" onclick="sentotp()">click to verify</button>
                
            {% endif %}
        </div>
    </div><hr>




    {% if request.user.id == pro.user.id %}
        <a href="{% url 'edit_profile' %}"><button class="btn btn-primary" style="width:100%;margin-bottom:5%">Edit Profile</button></a>
    {% endif %}
</div>


<script>
    function sentotp(){
        alert("sending message....");
        var xhttp;    
        var bid_id = "{{pro.id}}";
        xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                data = JSON.parse(this.responseText);
                alert("OTP sent.");
                window.location = "/email_verify/"+bid_id;
            }
        };
        xhttp.open("GET", "/generateotp/"+bid_id, true);
        xhttp.send();
    }
</script>
{% endblock %}